.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formContainer > form {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 1rem;
}

.formContainer > form > h2 {
    color: #224957;
    margin: 2rem 0rem;
    font-size: 2.75rem;
    font-weight: 900;
}

.formContainer > form > input {
    background-color: #f4f6f8;
    width: 100%;
    height: 3rem;
    border: 1px solid #7064e5;
    outline: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 1.15rem;
}

.formContainer > form > button {
    background-color: #7064e5;
    color: #fff;
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1.15rem;
    width: 100%;
}

.formContainer > form > a {
    text-decoration: none;
    color: #224957;
    font-weight: 500;
}