.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 25%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(64,77,148,.4);
}

.productImageContainer {
    height: 14rem;
}

.productImageContainer > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.productTitleContainer {
    font-weight: 500;
}

.productPriceContainer {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productTitleContainer, 
.productPriceContainer {
    color: #224957;
}

.productTitleContainer, 
.productPriceContainer,
.productActionBtn {
    font-size: 1.25rem;
}

.productQtyChangerContainer {
    display: flex;
    gap: 0.5rem;
}

.productQtyChangerContainer > img {
    cursor: pointer;
}

.productActionBtn {
    height: 3rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
    background-color: #7064e5;
    border: 1px solid #7064e5;
    border-radius: 6px;
    cursor: pointer;
}

.productActionBtn:hover {
    color: #7064e5;
    background-color: white;
}

@media screen and (max-width: 1000px) {
    .productContainer {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    .productContainer {
        width: 90%;
    }
}