.searchForm {
    width: 25%;
    margin: 1rem auto;
    position: relative;
}

.searchForm > input {
    width: 100%;
    height: 3rem;
    border: 1px solid #7064e5;
    border-radius: 10px;
    padding: 12px;
    font-size: 1.25rem;
    background-color: #f4f6f8;
    color: #7064e5;
    outline: none;
}

.filterAside {
    position: fixed;
    left: 0;
    width: 14rem;
    background-color: #f0f0fc;
    top: 30%;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
}

.filterAside h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #224957;
    margin: 1rem 0rem;
}

.filterAside input[type=range] {
    cursor: pointer;
    transform: scale(1);
    width: 90%;
    margin-top: 0.5rem;
}

.prductsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    margin-left: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.categoryContainer input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}