header {
    width: 100%;
    height: 5rem;
    box-shadow: 0px 10px 20px 0px rgba(17, 17, 26, 0.05);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 100%;
}

.navHome {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
}

.navItemsContainer {
    list-style: none;
    display: flex;
    gap: 60px;
}

.navLink {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: bold;
    color: #7064e5;
    display: flex;
    align-items: center;
}

.navLink > img {
    width: 38px;
    height: 37px;
    margin: 0 8px;
}